*{
  margin: 0;
  padding: 0;
  
  /* font-family:sans-serif; */
}
#profile{
  padding: 50px;
  height: 150% !important;
  width: 100%;
  margin-top: 8%;
  margin-left: 13%;
}
.pic{
  height: 96%;
  width: 70%;
  border-radius: 80%;
  margin-top: 50px !important;
  margin-left: 130px !important;
 
}
/* .contact-info {
  font-size: 1.25rem; 
  font-weight: 500; }

 */


/* Logo */
.logo-container{
  padding-top: 50px;
  text-decoration: none;
}
.logo-container a {
  color: inherit;
  text-decoration: none;
}

.contact-text{
  padding-top: 80px;
  font-size: 27px;
}
.contact-text-h1{
 
  font-size: 60px;
}
.fa-envelope,.fa-whatsapp{
  font-size: 27px;
}
.wp,.mail{
font-size: 25px;
}
.fa-linkedin,.fa-github,.fa-instagram,.fa-facebook{
font-size: 66px;
 text-decoration: none;
}


/* Logo color  */

.fa-linkedin{
color: rgb(0, 128, 255);
}
.fa-envelope{
  color: rgb(234, 67, 53);
}
.fa-whatsapp{
  color: rgb(37, 211, 102);
}
.fa-facebook{
color: rgb(59, 89, 152);
}
.fa-instagram{
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-github{
  color: rgb(24, 23, 23);
}


/* logo Hover */

.fa-linkedin:hover{
  font-size: 76px;
color: rgb(0, 128, 255);
}
.fa-envelope:hover{
  font-size: 35px;
  color: rgb(234, 67, 53);
}
.fa-whatsapp:hover{
  font-size: 34px;
  color: rgb(37, 211, 102);
}
.fa-facebook:hover{
  font-size: 76px;
color: rgb(59, 89, 152);
}
.fa-instagram:hover{
  font-size: 76px;
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-github:hover{
  font-size: 76px;
  color: rgb(24, 23, 23);
}


/* Card - About page */
.card{
  border: 1px #000000 solid;
  box-shadow: #655757 30px 30px 100px;
}

/* Media query */
/* @media (max-width: 767.98px) {
  .education {
    text-align: start !important;
    justify-content: left;
  }
  .education .card-body {
    text-align: start !important;
  }
} */
 @media (max-width: 767.98px) {
  .card {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: left !important;
  }

  .card-body {
    text-align: left !important;
  }
}

@media (max-width: 576px) {
  #profile {
    padding: 20px;
    height: auto !important;
    margin-top: 10%;
    margin-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #profile {
    padding: 30px;
    height: auto !important;
    margin-top: 8%;
    margin-left: 5%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #profile {
    padding: 40px;
    height: auto !important;
    margin-top: 6%;
    margin-left: 8%;
  }
}
@media (min-width: 1200px) {
  #profile {
    padding: 50px;
    height: 150% !important;
    margin-top: 8%;
    margin-left: 13%;
  }
}
